.home-bg {
  background-color: #181818;
  height: 90vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;

  overflow: auto;
  scrollbar-color: transparent;
  scroll-behavior: smooth;

  font-family: 'Assistant';
}

.playlist-container {
  /* width: 90%; */
  display: flex;
  flex-direction: column;
  align-self: center;
}

.playlist-heading {
  color: #ffffff;
  letter-spacing: 0.6px;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .home-bg {
    width: 90%;
    height: 100vh;
    position: relative;
    right: 0;
    left: 10vw;
  }
}
