@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inter:wght@100..900&display=swap');

.title {
  font-family: 'Assistant';
  font-weight: 600;
  font-size: 9px;
  color: #1db954;
}
