.editors-pick {
  width: 100%;
  height: 210px;
  padding: 0;

  display: flex;
  /* gap: 5px; */
  flex-wrap: wrap;

  overflow: auto;
  scroll-behavior: unset;
  font-family: 'Inter';
  color: #fcffff;
  padding: 3px;
}

@media (min-width: 768px) {
  .editors-pick {
    height: 287px;
  }
}
