.category-item {
  list-style-type: none;
  /* width: 210px; */
  /* height: 106px; */

  display: flex;
  align-items: center;

  margin: 3px;
  margin-bottom: 7px;
  /* margin-left: 0; */
  /* border: solid 1px #ffffff; */
}
.category-item-image {
  width: 77px;
  height: 77px;
  border: none;
  border-radius: 7px;
}
.category-name {
  font-family: 'Inter';
  font-size: 9px;
  font-weight: 500;
  color: #ffffff;
  margin: 3px;
  text-align: center;
}

.tracks {
  font-family: 'Inter';
  font-size: 9px;
  font-weight: 500;
  margin: 3px;
  /* text-align: center; */
  color: #64748b;
}
.category-details-sm {
  display: block;
  margin-left: 3px;
  text-align: left;
}

.category-details-lg {
  display: none;
}

@media (min-width: 768px) {
  .category-item {
    flex-direction: column;
    align-items: center;
    width: 145px;
    height: 157px;
  }
  .category-item-image {
    width: 116px;
    height: 116px;
  }
  .item-name {
    font-size: 11px;
    margin-top: 3.5px;
  }
  .category-details-sm {
    display: none;
  }
  .category-details-lg {
    display: block;
    text-align: center;
  }
}
