@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Inter:wght@100..900&display=swap');

.not-found-bg {
  height: 100vh;
  width: 100%;
  background-color: #181818;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: center;
}
@media (min-width: 768px) {
  .not-found-bg {
    width: 90%;
    height: 100vh;
  }
}

.not-found-title {
  font-family: 'Assistant';
  font-size: 24px;
  color: #ffffff;
}

.not-found-btn {
  background-color: transparent;
  border: solid 2px #1db94f;
  border-radius: 4px;

  display: flex;
  gap: 9px;
  align-items: center;

  font-family: 'Inter';
  font-weight: 600;
  font-size: 13px;
  color: #1db94f;
  cursor: pointer;

  padding: 5px 12px;
}
.not-found-btn:hover {
  font-weight: 700;
  letter-spacing: 0.03rem;
  color: #ffffff;
  background-color: #1db94f;
  gap: 7px;
}
